.css-eygk0v-MuiButtonBase-root-MuiTab-root.Mui-selected {
    background-color: green;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    padding: 0;
    height: 14px;
}

.MuiButton-root:hover {
    background-color: green;
}

.MuiButton-label {
    color: #fff;
}

.css-1c5z3xy-MuiButtonBase-root-MuiTab-root.Mui-selected {
    background-color: green;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    padding: 0;
    height: 14px;

}